.logo {
    width: 334px;
    height: 79px;
    font-size: 80px;
    line-height: 94px;
    line-height: 100%;
    vertical-align: bottom;
    margin-bottom: 38px;
}
.black-text {
    color: rgba(0, 0, 0, 1);
}
.blue-text {
    color:rgba(75, 202, 255, 1)  
}
.sub-menu {
    display: flex;
    font-size: 24px;
    background-color: rgba(53, 68, 79, 1);
    justify-content:center;
    margin-bottom: 48px;
}
.item>a {
    color: rgba(255, 255, 255, 1);
}
.item {
padding: 26px 38px 19px;
border-right: 1px solid #FFFFFF;
border-left: 1px solid #FFFFFF;
}
.wrapper {
    max-width: 1280px;
    margin:auto;
   
}
body {
padding: 63px 0px 30px;
font-family: Roboto-Regular;
}
.sidebar {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    font-size: 27px;
    text-align: left;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 344px;
}
.sub-item{
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 38px;   
}
.sub-item>a {  
    color: #485863;
}
main {
    display:flex;
}
.container {
    display: flex;
    padding-top: 75px;
    padding-bottom: 73px;
    justify-content: center;
    border: 1px solid #000;
}
article {
    font-size: 18px;
    margin-left: 52px;
    line-height: 133%;
}
.text{
    margin-bottom: 34px;
    margin-top: 37px;
}
.sub-footer {
    display: flex;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 21px;
}
.text-2 {
    margin-bottom: 54px;
}
.copyright {
    font-size: 24px;
    padding-right: 40px;
    align-self: center;   
}
a {
    text-decoration: none;
}
footer {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
}
.bar {
    padding-left: 10px ;
    padding-right: 10px ;
}
.bar>a {
    color: rgba(12, 25, 39, 1);
}
